

{{!-- <div class="slideshow-container">
    <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vSaOCVIYKkLdpHf7kcm0ZwEwMU9gAmIPz7mvIZZPrPW-HD0tS7zjy1dDDRS9vCReGnBVcLqRgmzMH0q/embed?start=true&loop=true&delayms=3000"
        frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true"
        webkitallowfullscreen="true"></iframe>
</div> --}}


<img src="/images/page photos/kids in the fridge.jpg" alt="Family Shopping" id="top-right-image">


<img src="/images/page photos/page pic.jpg" alt="Page Pic" id="top-left-image">


<img src="/images/page photos/shopping-with-phone-lady.jpg" alt="Shopping Lady" id="bottom-right-image">


<img src="/images/page photos/Couple Cooking.jpg" alt="Couple Cooking" id="bottom-left-image">