<div class="slideshow-container">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSaOCVIYKkLdpHf7kcm0ZwEwMU9gAmIPz7mvIZZPrPW-HD0tS7zjy1dDDRS9vCReGnBVcLqRgmzMH0q/embed?start=true&loop=true&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

{{!-- <img src="/images/page photos/KCM Slideshow1.jpg" alt="homepage1" id="homepage1">

<img src="/images/page photos/KCM Slideshow2.jpg" alt="homepage2" id="homepage2">

<img src="/images/page photos/KCM Slideshow3.jpg" alt="homepage3" id="homepage3">

<img src="/images/page photos/KCM Slideshow4.jpg" alt="homepage4" id="homepage4">

<img src="/images/page photos/KCM Slideshow5.jpg" alt="homepage5" id="homepage5">

<img src="/images/page photos/KCM Slideshow6.jpg" alt="homepage6" id="homepage6">

<img src="/images/page photos/KCM Slideshow7.jpg" alt="homepage7" id="homepage7">

<img src="/images/page photos/KCM Slideshow8.jpg" alt="homepage8" id="homepage8">

<img src="/images/page photos/KCM Slideshow9.jpg" alt="homepage9" id="homepage9"> --}}