<div id="search-results" style="display: ruby;">
{{#each recipes as |recipe|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="{{recipe.recipe_thumbnail}}" class="card-img-top" alt="recipe thumbnail">
    <h5 class="card-title">{{recipe.recipe_name}}</h5>
    <ul>
    {{#each recipe.recipe_ingredients as |ingredients|}}
    <li class="card-text">{{ingredients}}</li>
    {{/each}}
    </ul>
</div>
{{/each}}