<div id="search-results" style="display: ruby;">
{{#each recipes as |recipe|}}
<div class="card" style="width: 18rem;">
  {{!-- <img src="{{hit.recipe.images.REGULAR.url}}" class="card-img-top" alt="...">
  <div class="card-body"> --}}
    <h5 class="card-title">{{recipe.recipe_name}}</h5>
    <ul>
    {{#each recipe.recipe_ingredients as |ingredients|}}
    <li class="card-text">{{ingredients}}</li>
    {{/each}}
    </ul>
</div>
{{!-- </div> --}}
{{/each}}