<div style="display: flex;">
  <div id="search-results" style="margin-top: 20px; width:500px; margin-left:auto; margin-right:auto;">
    <printfriendly-options style="display:none;"
      data-content-features="disableClickToDel=0;hideImages=1;imageDisplayStyle=block;disablePDF=1;disableEmail=0;disablePrint=0;encodeImages=0;showHiddenContent=0;"></printfriendly-options>
    <script>var pfBtVersion = '3'; (function () { var js, pf; pf = document.createElement('script'); pf.type = 'text/javascript'; pf.src = '//cdn.printfriendly.com/printfriendly.js'; document.getElementsByTagName('head')[0].appendChild(pf) })();</script>
    <a href="https://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly"
      onclick="window.print();return false;" title="Printer Friendly and PDF"><img
        style="border:none;-webkit-box-shadow:none;box-shadow:none;"
        src="//cdn.printfriendly.com/buttons/new/print-light.svg" alt="Print Friendly and PDF" /></a>
    <h1 style="background-color:#f3969a; margin-top: 20px; width:500px; margin-left:auto; margin-right:auto;">My Shopping List:</h1>
    <div>
      <ul>
        {{#each recipes as |recipe|}}
        {{#each recipe.recipe_ingredients as |ingredients|}}
        <li class="card-text">{{ingredients}}</li>
        {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>