
#search-results{
  display: ruby;
}

.card{
  margin: 50px;
}

/* body {
  background-image: url("/images/logos/logo no background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
} */

h1 {
    color: azure;
    text-align: center;
}

#top-right-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 5;
  right: 0;
}

#top-left-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 5;
  left: 0;
}

#bottom-right-image {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#bottom-left-image {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}



